<h2><%= @recipe.title %></h2>

<p>TITLE : <%= @recipe.title %></p>

<p>DESCRIPTION : <%= @recipe.description %></p>
<p>IMAGE : <%= image_tag @recipe.image.url %> </p>
<p>Submitted by : <%= @recipe.user.email %></p>
<p>INGREDIENTS : 
	<ul>
		<% @recipe.ingredients.each do |ingredient| %>
			<li>
				<%= ingredient.name %>
			</li>
		<% end %>
	</ul>
</p>
<p>DIRECTIONS : 
	<ul>
		<% @recipe.directions.each do |direction| %>
			<li>
				<%= direction.step %>
			</li>
		<% end %>
	</ul>
</p>
<%= link_to "Edit", edit_recipe_path(@recipe) %> | <%= link_to "Destroy", recipe_path(@recipe), method: :delete %>

<p><%= link_to "Back", recipes_path %> </p>
